<div class="row">
	<div class="small-12 large-2 column">
		<div class="panel">
			<span class="sg-swatch" style="background: #FF6600;"></span>
			<span class="sg-label">#FF6600</span>
		</div>
	</div>
	<div class="small-12 large-2 column">
		<div class="panel">
			<span class="sg-swatch" style="background: #f88a08;"></span>
			<span class="sg-label">#F88A08</span>
		</div>
	</div>
	<div class="small-12 large-2 column">
		<div class="panel">
			<span class="sg-swatch" style="background: #fec524;"></span>
			<span class="sg-label">#FEC524</span>
		</div>
	</div>
	<div class="small-12 large-2 column">
		<div class="panel">
			<span class="sg-swatch" style="background: #04315d;"></span>
			<span class="sg-label">#04315D</span>
		</div>
	</div>
	<div class="small-12 large-2 column">
		<div class="panel">
			<span class="sg-swatch" style="background: #0079b5;"></span>
			<span class="sg-label">#0079B5</span>
		</div>
	</div>
	<div class="small-12 large-2 column">
		<div class="panel">
			<span class="sg-swatch" style="background: #70d4f6;"></span>
			<span class="sg-label">#70D4F6</span>
		</div>
	</div>
	<div class="small-12 large-2 column">
		<div class="panel">
			<span class="sg-swatch" style="background: #30b74d;"></span>
			<span class="sg-label">#30B74D</span>
		</div>
	</div>
	<div class="small-12 large-2 column">
		<div class="panel">
			<span class="sg-swatch" style="background: #14d58c;"></span>
			<span class="sg-label">#14D58C</span>
		</div>
	</div>
	<div class="small-12 large-2 column">
		<div class="panel">
			<span class="sg-swatch" style="background: #eb3f2f;"></span>
			<span class="sg-label">#EB3F2F</span>
		</div>
	</div>
	<div class="small-12 large-2 column">
		<div class="panel">
			<span class="sg-swatch" style="background: #222222;"></span>
			<span class="sg-label">#222222</span>
		</div>
	</div>
	<div class="small-12 large-2 column">
		<div class="panel">
			<span class="sg-swatch" style="background: #444444;"></span>
			<span class="sg-label">#444444</span>
		</div>
	</div>
	<div class="small-12 large-2 column">
		<div class="panel">
			<span class="sg-swatch" style="background: #e7e7e7;"></span>
			<span class="sg-label">#E7E7E7</span>
		</div>
	</div>
</div>