<div class="row">
	<div class="small-12 column">
		<p class="hide-small">This text is <strong>hidden</strong> on smaller screens</p>

		<p class="hide-med hide-large">This text is only <em>visible</em> on smaller screens</p>

		<p class="hide-med">This text is <strong>hidden</strong> on medium screens only</p>

		<p class="hide-small hide-large">This text is only <em>visible</em> on medium screens</p>

		<p class="hide-large">This text is <strong>hidden</strong> on large screens</p>

		<p class="hide-small hide-med">This text is only <em>visible</em> on large screens</p>
	</div>
</div>