@font-face {
  font-family: 'NeutraBook';
  src: url("../fonts/NeutraText-Book.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NeutraItalic';
  src: url("../fonts/NeutraText-BookItalic.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NeutraBold';
  src: url("../fonts/NeutraText-Bold.otf");
  font-weight: normal;
  font-style: normal; }