/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
$header-font : 'Lato';
$subheader-font : 'Lato';

@mixin header-font($header-size, $header-line-height, $header-margin) {
	font :  bold $header-size/#{$header-line-height} $header-font ;
	margin-bottom: $header-margin;
}

h1, .alpha   { 
	@include header-font(2em, 1, .25em)
}

h2, .beta    { 
	@include header-font(1.5em, 1, .33333334em)
}

h3, .gamma   { 
	@include header-font(1.125em, 1.33334, .44444445em)
}

h4, .delta   {
	@include header-font(1em, 1, .5em)
}

h5, .zeta {
	@include header-font(.8125em, 1.23077, .5em)
}

/* Subheadings */
.subheading {
	font-weight: normal;
}
