<div class="row">
	<div class="small-4 large-4 column">
		<div class="panel layout">1/3</div>
	</div>
	
	<div class="small-4 large-4 column">
		<div class="panel layout">1/3</div>
	</div>
	
	<div class="small-4 large-4 column">
		<div class="panel layout">1/3</div>
	</div>
</div>