<div class="row">
	<div class="small-3 large-3 column">
		<div class="panel layout">1/4</div>
	</div>

	<div class="small-3 large-3 column">
		<div class="panel layout">1/4</div>
	</div>

	<div class="small-3 large-3 column">
		<div class="panel layout">1/4</div>
	</div>

	<div class="small-3 large-3 column">
		<div class="panel layout">1/4</div>
	</div>
</div>